/* Reset margin and padding */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .pod-name {
    margin-top: 20px;
  }
  